openapi: 3.0.2
info:
  title: Viator Partner API
  description: "Just some stuff"
  version: '2.0'
  license:
    name: CC BY 4.0
    url: 'https://creativecommons.org/licenses/by/4.0/au/'
  contact:
    name: Viator Partner Support Team
    url: 'https://docs.viator.com/partner-api/merchant/#support-procedures-merchant/'
    email: dpsupport@viator.com
servers:
  - url: 'https://api.viator.com/partner'
    description: Production server (uses live data)
  - url: 'https://api.sandbox.viator.com/partner'
    description: Sandbox server (uses test data)
tags:
  - name: Products
    description: Product endpoints
  - name: Availability
    description: Availability endpoints
  - name: Bookings
    description: Booking endpoints
  - name: Auxiliary
    description: Auxiliary endpoints
  - name: V1-endpoints
    description: V1-endpoints
components:
  securitySchemes:
    API-key:
      type: apiKey
      in: header
      name: exp-api-key
  parameters:
    acceptLanguage:
      in: header
      name: Accept-Language
      description: >
        Specifies the language into which the natural-language fields in the
        response from this service will be translated (see [Accept-Language
        header](#section/Localization/Accept-Language-header-parameter) for
        available langage codes)
      required: true
      schema:
        type: string
        example: en-US
    accept:
      in: header
      name: Accept
      description: |
        Specifies the version of this API to access
      required: true
      schema:
        type: string
        example: application/json;version=2.0
    exp-demo:
      in: header
      name: exp-demo
      description: |
        Specifies that this should be a test/demo booking
      schema:
        type: boolean
        example: true
    sortOrder_REVIEW:
      in: query
      name: sortOrder
      schema:
        type: string
        enum:
          - REVIEW_RATING_A
          - REVIEW_RATING_D
          - REVIEW_RATING_SUBMISSION_DATE_D
      description: |
        **specifier** of the order in which to return reviews

        Sort order options:

          - `"REVIEW_RATING_A"`: Traveler Rating (low→high) Average
          - `"REVIEW_RATING_D"`: Traveler Rating (high→low) Average
          - `"REVIEW_RATING_SUBMISSION_DATE_D"`: Most recent review
    topX:
      name: topX
      in: query
      description: >
        **start and end rows** to return in the format {start}-{end}

        - e.g. `'1-10'`, `'200-299'`


        **Note**: 

        - the maximum number of rows per request is 100; therefore, `'100-400'`
        will return the same as `'100-200'`

        - if `topX` is not specified, the default is `'1-100'`
      schema:
        type: string
      example: 1-3
    code:
      name: code
      in: query
      schema:
        type: string
      description: >
        **unique alphanumeric identifier** of the product, corresponding to
        `productCode` in the response from the [product
        content](#section/Key-concepts/Content-ingestion-endpoints) endpoints
      example: 5010SYDNEY
    showUnavailable:
      name: showUnavailable
      in: query
      schema:
        type: boolean
      description: |
        **specifier** as to whether or not to show 'unavailable' products:

          - `true`: return *both* available and unavailable products
          - `false`: return *only* available products (default)
      example: false
  schemas:
    ProductStatus:
      type: string
      description: >
        Machine-interpretable value indicating this product's current
        availablility; one of:

          - `"ACTIVE"` - product is available for sale
          - `"INACTIVE"` - product is not available for sale (remainder of object will be empty)
    Product:
      type: object
      required:
        - productCode
        - status
        - createdAt
      properties:
        status:
          $ref: '#/components/schemas/ProductStatus'
        productCode:
          type: string
          pattern: '(?s).*[\S].*'
          description: |
            Alphanumeric code that is the unique identifier for this product

              - Example: `"5657BRIDGECLIMB"`
        language:
          type: string
          description: >-
            Code indicating the language into which the natural-language fields
            in this response will be translated (if necessary)
        createdAt:
          type: string
          format: date-time
          description: |
            Timestamp (UTC) indicating when this product was originally created

              - Example: `"2019-04-03T02:54:29.082753Z"`
        lastUpdatedAt:
          type: string
          format: date-time
          description: >
            Timestamp (UTC) indicating the most recent occasion of this
            product's details being modified

              - Example: `"2020-06-11T09:16:39Z"`
      discriminator:
        propertyName: status
        mapping:
          ACTIVE: '#/components/schemas/ActiveProduct'
          INACTIVE: '#/components/schemas/InactiveProduct'
    TicketType:
      type: string
    TicketsPerBooking:
      type: string
      description: >
        Machine-interpretable value indicating whether each traveler needs their
        own ticket; one of: 

          - `"ONE_PER_BOOKING"`  
          - `"ONE_PER_TRAVELER"`
    TicketInfo:
      type: object
      required:
        - ticketTypes
        - ticketsPerBooking
      description: Ticket/voucher details for this product
      properties:
        ticketTypes:
          type: array
          description: >
            Array of machine-interpretable values encoding the ticket type for
            this product; i.e., must be printed (`"PAPER"`) or can be displayed
            on-screen (`"MOBILE_ONLY"`); either or both of:

              - `"MOBILE_ONLY"`
              - `"PAPER"`
          items:
            $ref: '#/components/schemas/TicketType'
        ticketTypeDescription:
          type: string
          description: >
            Description of this ticket type

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
        ticketsPerBooking:
          $ref: '#/components/schemas/TicketsPerBooking'
        ticketsPerBookingDescription:
          type: string
          description: >
            Description of this product's tickets-per-booking information 

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
    PricingType:
      type: string
      description: >
        Machine-interpretable value specifying whether the pricing for this
        product is calculated per individual or per group (unit); one of:  

          - `"PER_PERSON"`
          - `"UNIT"`
    AgeBandType:
      type: string
      description: |
        Machine-interpretable value that specifies this age band's type; one of:

          - `"ADULT"`
          - `"SENIOR"`
          - `"YOUTH"`
          - `"CHILD"`
          - `"INFANT"`
          - `"TRAVELER"`
    AgeBand:
      type: object
      description: Age range categories for this product's ticketing scheme
      properties:
        ageBand:
          $ref: '#/components/schemas/AgeBandType'
        startAge:
          type: integer
          description: Lower limit (inclusive) of the age range defined by this age band
        endAge:
          type: integer
          description: Upper limit (inclusive) of the age range defined by this age band
        minTravelersPerBooking:
          type: integer
          description: >-
            Minimum number of travelers in this age band required to book the
            product
        maxTravelersPerBooking:
          type: integer
          description: >-
            Maximum Number of travelers in this age band allowed to book the
            product
    PricingUnitType:
      type: string
      description: >
        Machine-interpretable value specifying the type of unit/group when
        `type` is `"UNIT"`; one of:

          - `"BIKE"`
          - `"BOAT"`
          - `"GROUP"`
          - `"PACKAGE"`
          - `"ROOM"`
          - `"AIRCRAFT"`
          - `"VEHICLE"`
    PricingInfo:
      type: object
      required:
        - type
        - agebands
      description: Ticket/voucher details for this product
      properties:
        type:
          $ref: '#/components/schemas/PricingType'
        ageBands:
          type: array
          description: Age bands for this product
          items:
            $ref: '#/components/schemas/AgeBand'
        unitType:
          $ref: '#/components/schemas/PricingUnitType'
    ImageSourceType:
      type: string
      description: |
        Machine-interpretable value indicating the source of this image; one of:

          - `"SUPPLIER_PROVIDED"`
          - `"PROFESSIONAL"`
    ImageVariant:
      type: object
      required:
        - height
        - width
        - url
      properties:
        height:
          type: integer
          description: |
            Height of this image in pixels

              - Example: `'480'`
        width:
          type: integer
          description: |
            Width of this image in pixels
            - Example `'720'`
        url:
          type: string
          pattern: '(?s).*[\S].*'
          description: |
            URL from which this image can be retrieved.
    Image:
      type: object
      description: Image information
      required:
        - variants
        - isCover
      properties:
        imageSource:
          $ref: '#/components/schemas/ImageSourceType'
        caption:
          type: string
          description: >
            Description of this photo

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
        isCover:
          type: boolean
          description: >-
            `true` if this photo is considered to be the cover photo for this
            product
        variants:
          type: array
          description: Dimension/resolution variants available for this image
          items:
            $ref: '#/components/schemas/ImageVariant'
    LocationReference:
      type: object
      description: >
        Details about the location can be retrieved using the
        [/locations/bulk](#operation/locationsBulk) endpoint
      required:
        - ref
      properties:
        ref:
          type: string
          pattern: '(?s).*[\S].*'
          description: |
            Location identifier code

              - **Example**: `"LOC-c7d4f6ba-3633-4419-87d4-e88bb66206fc"`
    StartEndPoint:
      type: object
      description: Location and description of this start-point or end-point
      required:
        - location
      properties:
        location:
          $ref: '#/components/schemas/LocationReference'
        description:
          type: string
          description: |
            Description of this start-point or end-point

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
    Redemption:
      type: object
      description: Redemption point details for this product
      required:
        - redemptionType
      properties:
        redemptionType:
          pattern: '(?s).*[\S].*'
          type: string
          description: >
            Machine-interpretable value specifying the type of redemption; one
            of:

              - `"NONE"` - No redemption point - this is a direct entry ticket
              - `"ATTRACTION_START_POINT"` - Tickets can be redeemed at this product's starting point
              - `"DIFFERENT_LOCATION"` - Tickets can be redeemed from a location other than the product's starting point
              - `"INDIRECT_DELIVERY"` - Tickets will be delivered post-booking by email; or, physically delivered to the customer or the customer's hotel
        locations:
          type: array
          description: >
            Locations for this redemption point


            Details about the location can be retrieved using the
            [/locations/bulk](#operation/locationsBulk) endpoint
          items:
            $ref: '#/components/schemas/LocationReference'
        specialInstructions:
          type: string
          description: |
            Special instructions pertaining to this redemption point

              - **Example**: `"Bring photo ID for entrance tickets."`

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
    PickupOptionType:
      type: string
      description: >
        Machine-interpretable value encoding the type of traveler pick-up
        option; one of:

          - `"PICKUP_EVERYONE"`
          - `"PICKUP_AND_MEET_AT_START_POINT"`
          - `"MEET_EVERYONE_AT_START_POINT"`
    PickupLocation:
      type: object
      description: Pick-up or meeting point
      required:
        - location
      properties:
        location:
          $ref: '#/components/schemas/LocationReference'
        pickupType:
          type: string
          description: |
            Type of pick-up location; one of: 

              - `"AIRPORT"`
              - `"HOTEL"`
              - `"PORT"`
              - `"OTHER"`
    TravelerPickup:
      type: object
      description: Traveler pick-up details for this product
      required:
        - pickupOptionType
        - allowCustomTravelerPickup
      properties:
        pickupOptionType:
          $ref: '#/components/schemas/PickupOptionType'
        allowCustomTravelerPickup:
          type: boolean
          description: >
            Specifies whether travelers can choose a custom pick-up or meeting
            location for this product

              - **Note**: If 'false', answer to `"PICKUP_POINT"` booking question in request to [/bookings/book](#operation/bookingsBook), `unit` must be `"LOCATION_REFERENCE"` and not `"FREETEXT"`
        locations:
          type: array
          description: Pick-up and meeting points
          items:
            $ref: '#/components/schemas/PickupLocation'
        minutesBeforeDepartureTimeForPickup:
          type: integer
          description: >-
            How long prior to the product departure time will traveler-pickup
            occur (in minutes)
        additionalInfo:
          type: string
          description: |
            Description of additional information regarding traveler pick-up

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
    Logistics:
      type: object
      description: Logistics details for this product
      required:
        - redemption
      properties:
        start:
          type: array
          description: Starting point locations and descriptions
          items:
            $ref: '#/components/schemas/StartEndPoint'
        end:
          type: array
          description: Ending point locations and descriptions
          items:
            $ref: '#/components/schemas/StartEndPoint'
        redemption:
          $ref: '#/components/schemas/Redemption'
        travelerPickup:
          $ref: '#/components/schemas/TravelerPickup'
    InclusionExclusionItem:
      type: object
      required:
        - category
      properties:
        category:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            Machine-interpretable value encoding the category of this product
            feature; one of:

              - `"EQUIPMENT"` 
              - `"FOOD_AND_DRINK"`
              - `"TRANSPORT_AMENITIES"`
              - `"FEES_AND_TAXES"`
              - `"SOUVENIRS"`
              - `"OTHER"`


              For information on mapping, see: [Appendices – Inclusions and exclusions](#section/Appendices/Inclusions-and-exclusions)
        categoryDescription:
          type: string
          description: >
            Description of this product feature

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
        type:
          type: string
          description: >
            Machine-interpretable value encoding the type/category of this
            product feature; one of:

              - `"FUEL_SURCHARGE"`
              - `"LANDING_AND_FACILITY_FEES"`
              - `"AIRPORT_AND_DEPARTURE_TAX"`
              - `"GST"`
              - `"GRATUITIES"`
              - `"PARKING_FEES"`
              - `"ALL_FEES_AND_TAXES"`
              - `"USE_OF_BICYCLE"`
              - `"USE_OF_SCUBA_EQUIPMENT"`
              - `"USE_OF_SNORKELING_EQUIPMENT"`
              - `"USE_OF_TRIKKE"`
              - `"USE_OF_SEGWAY"`
              - `"USE_OF_OTHER_EQUIPMENT"`
              - `"USE_OF_COOKING_UTENSILS"`
              - `"ALL_INGREDIENTS"`
              - `"BREAKFAST"`
              - `"LUNCH"`
              - `"DINNER"`
              - `"SNACKS"`
              - `"BOTTLED_WATER"`
              - `"COFFEE_AND_TEA"`
              - `"SODA_POP"`
              - `"ALCOHOLIC_BEVERAGES"`
              - `"REFRESHMENTS"`
              - `"AIR_CONDITIONED_VEHICLE"`
              - `"RESTROOM_ON_BOARD"`
              - `"PRIVATE_TRANSPORTATION"`
              - `"WIFI_ONBOARD"`
              - `"CERTIFICATE"`
              - `"RECIPE_BOOKLET"`
              - `"OTHER"`


              For information on mapping, see: [Appendices – Inclusions and exclusions](#section/Appendices/Inclusions-and-exclusions)
        typeDescription:
          type: string
          description: >
            Description of this product feature type 

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
        otherDescription:
          type: string
          description: >
            Description of this product feature when `type` is `"OTHER"`

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
        quantity:
          type: integer
          description: >
            Quantity of this type of inclusion or exclusion in the case that the
            product is a multi-day tour or activity. For example, a three-day
            tour might include three inclusions of type `"LUNCH"` - one for each
            day of the tour.


            **Note**: This field will be only be present when `quantity` > 1
        description:
          type: string
          description: >
            Description of the item

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
    AdditionalInfo:
      type: object
      description: >-
        An additional information fact to communicate to travelers regarding
        this product
      required:
        - type
      properties:
        type:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            Machine-interpretable value encoding the type/category of additional
            information fact; one of (but not limited to):

              - `"OTHER"`
              - `"WHEELCHAIR_ACCESSIBLE"`
              - `"NOT_WHEELCHAIR_ACCESSIBLE"
              - `"STROLLER_ACCESSIBLE"`
              - `"PETS_WELCOME"`
              - `"PUBLIC_TRANSPORTATION_NEARBY"`
              - `"INFANTS_MUST_SIT_ON_LAPS"`
              - `"INFANT_SEATS_AVAILABLE"`
              - `"TRANSPORTATION_WHEELCHAIR_ACCESSIBLE"`
              - `"SURFACES_WHEELCHAIR_ACCESSIBLE"`
              - `"NO_BACK_PROBLEMS"`
              - `"NO_PREGNANT"`
              - `"NO_HEART_PROBLEMS"`
              - `"OTHER_HEALTH"`
              - `"PHYSICAL_EASY"`
              - `"PHYSICAL_MEDIUM"`
              - `"PHYSICAL_HARD"`
              
            **Additional COVID-19 safety information:**

              - `"SAFETY_OTHER"`
              - `"SAFETY_FACE_MASKS_REQUIRED_FOR_TRAVELERS_IN_PUBLIC_AREAS"`
              - `"SAFETY_FACE_MASKS_REQUIRED_FOR_GUIDES_IN_PUBLIC_AREAS"`
              - `"SAFETY_FACE_MASKS_PROVIDED_FOR_TRAVELERS"`
              - `"SAFETY_HAND_SANITIZER_AVAILABLE_TO_TRAVELERS_AND_STAFF"`
              - `"SAFETY_SOCIAL_DISTANCING_ENFORCED_THROUGHOUT_EXPERIENCE"`
              - `"SAFETY_REGULARLY_SANITIZED_HIGH_TRAFFIC_AREAS"`
              - `"SAFETY_GEAR_EQUIPMENT_SANITIZED_BETWEEN_USE"`
              - `"SAFETY_TRANSPORTATION_VEHICLES_REGULARLY_SANITIZED"`
              - `"SAFETY_GUIDES_REQUIRED_TO_REGULARLY_WASH_HANDS"`
              - `"SAFETY_REGULAR_TEMPERATURE_CHECKS_FOR_STAFF"`
              - `"SAFETY_TEMPERATURE_CHECKS_FOR_TRAVELERS_UPON_ARRIVAL"`
              - `"SAFETY_PAID_STAY_AT_HOME_POLICY_FOR_STAFF_WITH_SYMPTOMS"`
              - `"SAFETY_CONTACTLESS_PAYMENTS_FOR_GRATUITIES_AND_ADD_ONS"`
        description:
          type: string
          description: >
            Description of this additional information fact

            - **Example**: "Operates in all weather conditions (with the
            exception of extreme weather conditions such as an electrical
            storm)"

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
    CancellationConditionType:
      type: string
      description: >
        Machine-interpretable value encoding the type of cancellation policy for
        this product; one of:

          - `"STANDARD"` - Products in this category are cancellable up to 24 hours before the travel date (local supplier time) for a full refund. However, a 100% cancellation penalty applies for cancellations submitted less than 24 hours before the start time. Most products (about 85%) fall into this category.
          - `"ALL_SALES_FINAL"` - Products in this category cannot be cancelled or amended without incurring a 100% penalty; i.e., the refund amount will be zero. Around 10% of products fall into this category.
          - `"CUSTOM"` - The refund amount for products in this category varies depending on how long before its start time the product is cancelled. Many products on a custom policy are multi-day tours, which require more sophisticated planning on the supplier’s end. Only a small number of products (around 5%) fall into this category.
    CancellationCondition:
      type: object
      description: >-
        Structured description of fees pertaining to cancellations during
        various time windows
      required:
        - dayRangeMin
        - percentageRefundable
      properties:
        dayRangeMin:
          type: integer
          description: >-
            Number of days prior to the product start time (relative to the time
            zone in which the product operates) that this policy window ends.
        dayRangeMax:
          type: integer
          description: >-
            Number of days prior to the tour start time (relative to the time
            zone in which the product operates) that this policy window begins.
            When this field is absent, it signifies negative infintity; i.e.,
            the beginning of time.
        percentageRefundable:
          type: integer
          description: >-
            Percentage of total price refundable if a booking for this product
            is cancelled within the period defined by `dayRangeMin` and
            `dayRangeMax`
        startTimestamp:
          type: string
          format: date-time
          description: >
            Timestamp (UTC) indicating the **beginning** of the period during
            which this cancellation policy applies; e.g.
            `2019-09-17T03:20:45.737043Z`

            - Note: this element will appear in the response from
            [/bookings/book](#operation/bookingsBook) but will **not** be
            present in responses from /products/* endpoints
        endTimestamp:
          type: string
          format: date-time
          description: >
            Timestamp (UTC) indicating the **end** of the period during which
            this cancellation policy applies; e.g. `2019-09-17T03:20:45.737043Z`

            - Note: this element will appear in the response from /bookings/book
            but will **not** be present in responses from /products/* endpoints
    CancellationPolicy:
      type: object
      description: Cancellation policy details for this product
      required:
        - type
        - cancelIfBadWeather
        - cancelIfInsufficientTravelers
        - refundEligibility
      properties:
        type:
          $ref: '#/components/schemas/CancellationConditionType'
        description:
          type: string
          description: >
            Description of this product's cancellation policy

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
        cancelIfBadWeather:
          type: boolean
          description: >-
            **True** if the supplier of this product may cancel on account of
            weather conditions
        cancelIfInsufficientTravelers:
          type: boolean
          description: >-
            **True** if the supplier of this product can cancel due to too few
            participants
        refundEligibility:
          type: array
          description: Cancellation policy definitions for this product
          items:
            $ref: '#/components/schemas/CancellationCondition'
    BookingCutoffType:
      type: string
      description: |
        Machine-interpretable value encoding the type of booking cutoff; one of:

          - `"OPENING_TIME"`
          - `"CLOSING_TIME"`
          - `"START_TIME"`
          - `"FIXED_TIME"`
    ConfirmationType:
      type: string
      description: >
        Machine-interpretable value encoding when bookings for this product will
        be confirmed; one of: 

          - `"INSTANT"` (instantly) 
          - `"MANUAL"` (requires manual action prior to confirmation)
          - `"INSTANT_THEN_MANUAL"` (combination – subject to cutoff time)
    BookingConfirmationSettings:
      type: object
      required:
        - bookingCutoffType
        - confirmationType
      description: >
        How this product's bookings are confirmed


        For more information, see [Key concepts – Booking cutoff
        times](#section/Key-concepts/Booking-cutoff-times)
      properties:
        bookingCutoffType:
          $ref: '#/components/schemas/BookingCutoffType'
        bookingCutoffInMinutes:
          type: integer
          description: >-
            Period in minutes before the start time that this product can be
            booked
        confirmationType:
          $ref: '#/components/schemas/ConfirmationType'
        manualConfirmationPeriod:
          type: integer
          description: >-
            When – relative to the time indicated by the value in
            `bookingCutoffType` – this product will require manual confirmation
            by the supplier before a booking is confirmed
        bookingCutoffFixedTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d(:[0-5]\d(\.\d{1,9})?)?$'
          description: >
            Time of day before which this product can be booked (ISO-8601 time
            stamp, no time zone)

              - Example: `'14:30:00.1234'`
    BookingRequirements:
      type: object
      description: Passenger type and number requirements for booking
      required:
        - minTravelersPerBooking
        - maxTravelersPerBooking
        - requiresAdultForBooking
      properties:
        minTravelersPerBooking:
          type: integer
          description: Minimum number of travelers required to book this product
        maxTravelersPerBooking:
          type: integer
          description: Maximum number of travelers required to book this product
        requiresAdultForBooking:
          type: boolean
          description: >
            **True** if at least one passenger from the `"ADULT"` or `"SENIOR"`
            age band type must be included to book this product
    LanguageGuide:
      type: object
      required:
        - language
        - type
      properties:
        type:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            Machine-interpretable value encoding the type of language guide; one
            of:

              - `GUIDE` – human tour guide
              - `AUDIO` – audio guide
              - `WRITTEN` – printed guide 
        language:
          type: string
          pattern: '(?s).*[\S].*'
          description: |
            Language code of the language for this guide; one of:

              - `"cmn"` - Mandarin
              - `"es"` - Spanish
              - `"en"` - English
              - `"hi"` - Hindi
              - `"ar"` - Arabic
              - `"pt"` - Portuguese
              - `"bn"` - Bengali
              - `"ru"` - Russian
              - `"ja"` - Japanese
              - `"pa"` - Panjabi
              - `"de"` - German
              - `"jv"` - Javanese
              - `"wuu"` - Wu Chinese
              - `"ms"` - Malay
              - `"te"` - Telugu
              - `"vi"` - Vietnamese
              - `"ko"` - Korean
              - `"fr"` - French
              - `"mr"` - Marathi
              - `"ta"` - Tamil
              - `"ur"` - Urdu
              - `"tr"` - Turkish
              - `"it"` - Italian
              - `"yue"` - Cantonese
              - `"th"` - Thai
              - `"gu"` - Gujarati
              - `"mnp"` - Chinese Min Bei
              - `"fa"` - Farsi
              - `"pl"` - Polish
              - `"ps"` - Pushto
              - `"hsn"` - Hunanese
              - `"ml"` - Malayalam
              - `"my"` - Burmese
              - `"hak"` - Hakka Chinese
              - `"uk"` - Ukrainian
              - `"fil"` - Filipino
              - `"ro"` - Romanian
              - `"nl"` - Dutch
              - `"ku"` - Kurdish
              - `"hr"` - Croatian
              - `"hu"` - Hungarian
              - `"el"` - Greek
              - `"cs"` - Czech
              - `"sv"` - Swedish
              - `"fi"` - Finnish
              - `"sk"` - Slovak
              - `"sr"` - Serbian
              - `"no"` - Norwegian
              - `"he"` - Hebrew
              - `"da"` - Danish
              - `"zh_TW"` - Chinese Traditional
              - `"zh_CN"` - Chinese Simplified
              - `"id"` - Indonesian
        legacyGuide:
          type: string
          description: >-
            Supply this value in the `languageOptionCode` element when making a
            booking request
    Destination:
      type: object
      description: |
        Reference details about a destination associated with this product
      required:
        - ref
        - primary
      properties:
        ref:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            Unique numeric identifier for this destination

            - **Note**: Full details about the destination associated with this
            reference can be found in the response from the
            [/v1/taxonomy/destinations](#tag/V1-endpoints/paths/~1v1~1taxonomy~1destinations/get)
            endpoint.
        primary:
          type: boolean
          description: >-
            **True** if this is the primary destination associated with this
            product
    ItineraryType:
      type: string
      description: >
        Machine-interpretable value specifying the type of itinerary available
        for this product; one of:

          - `"STANDARD"`
          - `"ACTIVITY"`
          - `"MULTI_DAY_TOUR"`
          - `"HOP_ON_HOP_OFF"`
          - `"UNSTRUCTURED"`
    Itinerary:
      type: object
      description: >
        Details about the places this product visits


        See: [Key concepts – Itineraries](#section/Key-concepts/Itineraries) for
        more information
      required:
        - itineraryType
        - skipTheLine
        - privateTour
      properties:
        itineraryType:
          $ref: '#/components/schemas/ItineraryType'
        skipTheLine:
          type: boolean
          description: >-
            **True** if a ticket for this product allows the customer to 'skip
            the line'
        privateTour:
          type: boolean
          description: >-
            **True** if this product is a private tour; i.e., customers other
            than those in this booking will **not** be present
        maxTravelersInSharedTour:
          type: integer
          description: >-
            Maximum number of travelers that will be present if this product is
            not a private tour
        unstructuredDescription:
          type: string
          description: |
            Description of this product's itinerary

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
      discriminator:
        propertyName: itineraryType
        mapping:
          STANDARD: '#/components/schemas/StandardItinerary'
          ACTIVITY: '#/components/schemas/ActivitiesItinerary'
          MULTI_DAY_TOUR: '#/components/schemas/MultiDayTourItinerary'
          HOP_ON_HOP_OFF: '#/components/schemas/HopOnHopOffItinerary'
          UNSTRUCTURED: '#/components/schemas/UnstructuredItinerary'
    ItineraryDuration:
      type: object
      description: >
        Duration information for this itinerary


        **Note**: Depending on whether this itinerary has a fixed or variable
        duration, this object will include either the `fixedValueInMinutes`
        element alone; or, both the `fromMinutes` and `toMinutes` elements,
        respectively.
      properties:
        fixedDurationInMinutes:
          type: integer
          description: >-
            Duration of this itinerary (in minutes) in the case that it takes a
            fixed amount of time
        variableDurationFromMinutes:
          type: integer
          description: >-
            Lower limit of the duration of this itinerary (in minutes) in the
            case that this product's duration varies
        variableDurationToMinutes:
          type: integer
          description: >-
            Upper limit of the duration of this itinerary (in minutes) in the
            case that this product's duration varies
        unstructuredDuration:
          type: string
    ItineraryPoi:
      type: object
      description: Details about this Point Of Interest (POI)
      required:
        - location
      properties:
        location:
          $ref: '#/components/schemas/LocationReference'
        attractionId:
          type: integer
          description: >
            Unique identifier in the Viator taxonomy of this point of interest
            if it is regarded as an attraction

            - **Note:** Use the `destinations[].ref` values in this response as
            the `destId` request parameter when using the V1
            [/v1/taxonomy/attractions](#tag/V1-endpoints/paths/~1v1~1taxonomy~1attractions/post)
            endpoint get a list of the relevant attraction. 
    AdmissionInclusionType:
      type: string
      description: >
        Machine-interpretable value encoding whether the admission fee for this
        place is included; one of:

          - `"YES"`
          - `"NO"`
          - `"NOT_APPLICABLE"`
    StandardItineraryItem:
      type: object
      required:
        - pointOfInterestLocation
        - passByWithoutStopping
      properties:
        pointOfInterestLocation:
          $ref: '#/components/schemas/ItineraryPoi'
        duration:
          $ref: '#/components/schemas/ItineraryDuration'
        passByWithoutStopping:
          type: boolean
          description: >-
            **True** if this product only 'passes by' this point of interest
            (i.e., travelers remain in the vehicle)
        admissionIncluded:
          $ref: '#/components/schemas/AdmissionInclusionType'
        description:
          type: string
          description: |
            Description of this itinerary item

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter"
    StandardItinerary:
      allOf:
        - $ref: '#/components/schemas/Itinerary'
        - type: object
          description: Itinerary information where this product is a standard tour
          required:
            - itineraryItems
          properties:
            duration:
              $ref: '#/components/schemas/ItineraryDuration'
            itineraryItems:
              type: array
              description: Places that this tour visits or passes through
              items:
                $ref: '#/components/schemas/StandardItineraryItem'
    ActivitiesItineraryItem:
      type: object
      description: Location and description of this activity item
      required:
        - location
      properties:
        location:
          $ref: '#/components/schemas/LocationReference'
        description:
          type: string
          description: |
            Description of this activity item

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
    ActivityFoodMenu:
      type: object
      description: Food menu details for this activity
      required:
        - course
        - dishName
      properties:
        course:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            Machine-interpretable value encoding the meal course category for
            this menu item; one of: 

              - `"STARTER"`
              - `"MAIN"`
              - `"DESSERT"`
        dishName:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            Name of this dish

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
        dishDescription:
          type: string
          description: |
            Description of this dish

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
    ActivitiesItinerary:
      allOf:
        - $ref: '#/components/schemas/Itinerary'
        - type: object
          description: Itinerary information where this product is an activity
          required:
            - duration
            - activityInfo
          properties:
            duration:
              $ref: '#/components/schemas/ItineraryDuration'
            pointsOfInterest:
              type: array
              description: Places of interest at which this activity occurs
              items:
                $ref: '#/components/schemas/LocationReference'
            activityInfo:
              $ref: '#/components/schemas/ActivitiesItineraryItem'
            foodMenus:
              type: array
              description: Food menus for this activity
              items:
                $ref: '#/components/schemas/ActivityFoodMenu'
    MultiDayTourAccommodation:
      type: object
      description: Details for this accommodation venue
      required:
        - description
      properties:
        description:
          type: string
          description: |
            Description of this accommodation venue

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
        location:
          $ref: '#/components/schemas/LocationReference'
    MultiDayTourFoodAndDrinks:
      type: object
      properties:
        type:
          type: string
          description: |
            One of:
              
              - `"BREAKFAST"`,
              - `"LUNCH"`,
              - `"DINNER"`,
              - `"SNACKS"`,
              - `"BOTTLED_WATER"`,
              - `"COFFEE_AND_TEA"`,
              - `"SODA_POP"`,
              - `"ALCOHOLIC_BEVERAGES"`,
              - `"REFRESHMENTS"`'
        typeDescription:
          type: string
          description: >
            Description of the `type` element in this response

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
        description:
          type: string
          description: >
            Description of the item

            - **Note**: This field contains natural language suitable for
            display to the user; content will be translated (if necessary) into
            the language specified in the Accept-Language header parameter
    MultiDayTourItineraryDay:
      type: object
      description: Details about a single day of a multi-day tour
      required:
        - dayNumber
        - items
      properties:
        title:
          type: string
          description: |
            Title of this day of the tour

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
        dayNumber:
          type: integer
          description: Number of this day
        items:
          type: array
          description: Places that this product visits or passes through on this day
          items:
            $ref: '#/components/schemas/StandardItineraryItem'
        accommodations:
          type: array
          description: Accommodation available for this day of this tour
          items:
            $ref: '#/components/schemas/MultiDayTourAccommodation'
        foodAndDrinks:
          type: array
          description: Food and drinks available for this day of this tour
          items:
            $ref: '#/components/schemas/MultiDayTourFoodAndDrinks'
    MultiDayTourItinerary:
      allOf:
        - $ref: '#/components/schemas/Itinerary'
        - type: object
          required:
            - days
          description: Itinerary information where this product is a multi-day tour
          properties:
            days:
              type: array
              description: Each day of this multi-day tour
              items:
                $ref: '#/components/schemas/MultiDayTourItineraryDay'
    HopOnHopOffStop:
      type: object
      description: Place at which passengers can board or alight the tour vehicle
      required:
        - stopLocation
      properties:
        stopLocation:
          $ref: '#/components/schemas/LocationReference'
        description:
          type: string
          description: |
            Description of this stop

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
    HopOnHopOffItineraryRoute:
      type: object
      required:
        - duration
        - stops
        - pointsOfInterest
      properties:
        operatingSchedule:
          type: string
          description: |
            Description of this product's operating schedule

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
        duration:
          $ref: '#/components/schemas/ItineraryDuration'
        name:
          type: string
          description: |
            Name of this route

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
        stops:
          type: array
          description: Stops on this route
          items:
            $ref: '#/components/schemas/HopOnHopOffStop'
        pointsOfInterest:
          type: array
          description: Locations of interest relevant to this route
          items:
            $ref: '#/components/schemas/ItineraryPoi'
    HopOnHopOffItinerary:
      allOf:
        - $ref: '#/components/schemas/Itinerary'
        - type: object
          description: Itinerary information where this product is a hop-on/hop-off tour
          required:
            - routes
          properties:
            routes:
              type: array
              description: Routes that this tour takes
              items:
                $ref: '#/components/schemas/HopOnHopOffItineraryRoute'
    UnstructuredItinerary:
      allOf:
        - $ref: '#/components/schemas/Itinerary'
        - type: object
          properties:
            unstructuredItinerary:
              type: string
              description: >
                Description of this product's itinerary

                - **Note**: This field contains natural language suitable for
                display to the user; content will be translated (if necessary)
                into the language specified in the Accept-Language header
                parameter
            duration:
              $ref: '#/components/schemas/ItineraryDuration'
            pointOfInterestLocations:
              type: array
              description: Places of interest relevant to this itinerary
              items:
                $ref: '#/components/schemas/ItineraryPoi'
    ProductOption:
      type: object
      description: Detail about a single product option for this product
      required:
        - title
        - productOptionCode
      properties:
        productOptionCode:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            Identification code for this product option 

              - **Example**: `"BCLM"`


            For more information see: [Key concepts: Product
            options](#section/Key-concepts/Product-options)
        description:
          type: string
          description: |
            Description of this product option

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
        title:
          type: string
          pattern: '(?s).*[\S].*'
          description: |
            Title of this product option

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
        languageGuides:
          type: array
          description: Language guides available for this product option
          items:
            $ref: '#/components/schemas/LanguageGuide'
    TranslationDetails:
      type: object
      description: >-
        Information about whether the text in this response was
        machine-translated
      required:
        - containsMachineTranslatedText
      properties:
        containsMachineTranslatedText:
          type: boolean
          description: >-
            Indicates whether this product description utilizes
            machine-translated text in any of its natural langauge fields
        translationAttributions:
          type: string
          description: |
            Value specifying the machine-translation service vendor


              - **Example**: `"GOOGLE"`
    Supplier:
      type: object
      description: Supplier details
      required:
        - name
      properties:
        name:
          type: string
          pattern: '(?s).*[\S].*'
          description: Name of the supplier of this product
    ActiveProduct:
      allOf:
        - $ref: '#/components/schemas/Product'
        - type: object
          required:
            - ticketInfo
            - timeZone
            - description
            - logistics
            - additionalInfo
            - cancellationPolicy
            - bookingConfirmationSettings
            - bookingRequirements
            - bookingQuestions
            - tags
            - destinations
            - pricingInfo
            - supplier
          properties:
            title:
              type: string
              description: |
                Title of this product 

                 - **Example**: `"Sydney BridgeClimb"`

                 - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter   
            ticketInfo:
              $ref: '#/components/schemas/TicketInfo'
            pricingInfo:
              $ref: '#/components/schemas/PricingInfo'
            images:
              type: array
              description: Images for this product
              items:
                $ref: '#/components/schemas/Image'
            logistics:
              $ref: '#/components/schemas/Logistics'
            timeZone:
              type: string
              pattern: '(?s).*[\S].*'
              description: >
                Code for the time zone in which this product operates (IANA TZ
                database name format)

                  - **Example**: `'Australia/Sydney'`            
            description:
              type: string
              pattern: '(?s).*[\S].*'
              description: |
                Description of this product

                  - **Example**: "Climb the Sydney Harbour Bridge with an expert guide for the ultimate Sydney experience..."

                  - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter              
            inclusions:
              type: array
              description: |
                Features that are **included** with this product package

                  - **Note**: The same inclusion item may appear multiple times in this array. For example, `'Lunch'`. For a 7-day multi-day tour, 'Lunch' appearing seven times indicates that lunch is included on each of the seven days of the tour. This can be displayed as "Lunch (7)"
              items:
                allOf:
                  - $ref: '#/components/schemas/InclusionExclusionItem'
            exclusions:
              type: array
              description: Features that are **not included** with this product package
              items:
                allOf:
                  - $ref: '#/components/schemas/InclusionExclusionItem'
            additionalInfo:
              type: array
              description: >-
                Facts necessary to communicate to travelers regarding this
                product
              items:
                $ref: '#/components/schemas/AdditionalInfo'
            cancellationPolicy:
              $ref: '#/components/schemas/CancellationPolicy'
            bookingConfirmationSettings:
              $ref: '#/components/schemas/BookingConfirmationSettings'
            bookingRequirements:
              $ref: '#/components/schemas/BookingRequirements'
            languageGuides:
              type: array
              description: >-
                Language guides available for this product across all product
                option codes
              items:
                $ref: '#/components/schemas/LanguageGuide'
            bookingQuestions:
              type: array
              description: >
                Array of machine-interpretable values specifying the facts that
                the traveler must provide when booking this product; further
                details can be retrieved via the
                [/products/booking-questions](#operation/productsBookingQuestions)
                endpoint
              items:
                type: string
            tags:
              type: array
              description: >
                Array of numeric tag identifiers indicating the product
                categories into which this product falls

                To retrieve details about which tags these identifiers refer to,
                please use the [/products/tags](#operation/productsTags)
                endpoint.
              items:
                type: integer
                description: |
                  Possible values:

                    - `"DATE_OF_BIRTH"`
                    - `"HEIGHT"`
                    - `"PASSPORT_EXPIRY"`
                    - `"PASSPORT_NATIONALITY"`
                    - `"PASSPORT_PASSPORT_NO"`
                    - `"PICKUP_POINT"`
                    - `"TRANSFER_AIR_ARRIVAL_AIRLINE"`
                    - `"TRANSFER_AIR_ARRIVAL_FLIGHT_NO"`
                    - `"TRANSFER_AIR_DEPARTURE_AIRLINE"`
                    - `"TRANSFER_AIR_DEPARTURE_FLIGHT_NO"`
                    - `"TRANSFER_ARRIVAL_DROP_OFF"`
                    - `"TRANSFER_ARRIVAL_TIME"`
                    - `"TRANSFER_DEPARTURE_DATE"`
                    - `"TRANSFER_DEPARTURE_PICKUP"`
                    - `"TRANSFER_DEPARTURE_TIME"`
                    - `"TRANSFER_PORT_ARRIVAL_TIME"`
                    - `"TRANSFER_PORT_CRUISE_SHIP"`
                    - `"TRANSFER_PORT_DEPARTURE_TIME"`
                    - `"TRANSFER_RAIL_ARRIVAL_LINE"`
                    - `"TRANSFER_RAIL_ARRIVAL_STATION"`
                    - `"TRANSFER_RAIL_DEPARTURE_LINE"`
                    - `"TRANSFER_RAIL_DEPARTURE_STATION"`
                    - `"WEIGHT"`
                    - `"FULL_NAMES_FIRST"`
                    - `"FULL_NAMES_LAST"`
                    - `"DISEMBARKATION_TIME"`
                    - `"SPECIAL_REQUIREMENTS"`
                    - `"AGEBAND"`
                    - `"TRANSFER_ARRIVAL_MODE"`
                    - `"TRANSFER_DEPARTURE_MODE"`
            destinations:
              type: array
              description: >-
                Destinations – i.e., cities, states, countries and regions – in
                which this product can be considered to operate
              items:
                $ref: '#/components/schemas/Destination'
            itinerary:
              $ref: '#/components/schemas/Itinerary'
            productOptions:
              type: array
              description: >
                Product options (tour grades) available for this product


                For more information see: [Key concepts: Product
                options](#section/Key-concepts/Product-options)
              items:
                $ref: '#/components/schemas/ProductOption'
            translationInfo:
              $ref: '#/components/schemas/TranslationDetails'
            supplier:
              $ref: '#/components/schemas/Supplier'
    InactiveProduct:
      allOf:
        - $ref: '#/components/schemas/Product'
    ProductsResponse:
      type: object
      required:
        - products
      properties:
        products:
          type: array
          description: Products that fall within the search/filter criteria
          items:
            $ref: '#/components/schemas/Product'
        nextCursor:
          type: string
          description: |
            Pagination cursor pointing to the next page of results
            - Example: `"MTU3NDA0NDczOQ=="`
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
          description: |
            Timestamp of the request. 

            **Example**: `"2019-09-17T03:20:45.737043Z"`
        trackingId:
          type: string
          description: |
            Tracking identifier for this error response. 

            **Example**: `"0A871A13:DE2A_0A8712F9:01BB_5DCCC98C_260DAA:0D5B"`
    BulkProductRequest:
      type: object
      required:
        - productCodes
      properties:
        productCodes:
          type: array
          description: List of product codes for which to retrieve full product details
          maxItems: 500
          items:
            type: string
            pattern: '(?s).*[\S].*'
    TagWithAllLocalizations:
      type: object
      description: Category/subcategory tag for this product
      required:
        - tagId
      properties:
        tagId:
          type: integer
          description: Unique identifier for this tag
          format: int32
        parentTagIds:
          type: array
          description: Unique identifiers for parent tags of this tag
          uniqueItems: true
          items:
            type: integer
            format: int32
        allNamesByLocale:
          type: object
          description: >-
            Dictionary of language codes to the description of this tag in that
            language
          additionalProperties:
            type: string
    TagsResponse:
      type: object
      description: >
        Numeric product category/subcategory tag identifiers for this product


        To retrieve details about which tags these identifiers refer to, please
        use the [/products/tags](#operation/productsTags) endpoint.
      required:
        - tags
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/TagWithAllLocalizations'
    BookingQuestionFormatType:
      type: string
      description: >
        Machine-interpretable value encoding the required unit type for the
        answer to the booking question; one of:

          - `"STRING"`
          - `"NUMBER_AND_UNIT"`
          - `"DATE"`
          - `"TIME"`
          - `"LOCATION_REF_OR_FREE_TEXT"`
    BookingQuestionGrouping:
      type: string
      description: >
        Machine-interpretable value specifying whether the booking question must
        be answered individually for each traveler or once per group of
        travelers in each booking; one of:

          - `"PER_TRAVELER"`
          - `"PER_BOOKING"`
    BookingQuestion:
      type: object
      description: A single booking question
      properties:
        legacyBookingQuestionId:
          type: integer
          description: >-
            Unique identifier of this booking question <mark>for use with legacy
            (V1) booking endpoint only</mark>
        id:
          type: string
          description: >
            Machine-interpretable value that identifies this booking question;
            one of:

            Possible values:

              - `"DATE_OF_BIRTH"`
              - `"HEIGHT"`
              - `"PASSPORT_EXPIRY"`
              - `"PASSPORT_NATIONALITY"`
              - `"PASSPORT_PASSPORT_NO"`
              - `"PICKUP_POINT"`
              - `"TRANSFER_AIR_ARRIVAL_AIRLINE"`
              - `"TRANSFER_AIR_ARRIVAL_FLIGHT_NO"`
              - `"TRANSFER_AIR_DEPARTURE_AIRLINE"`
              - `"TRANSFER_AIR_DEPARTURE_FLIGHT_NO"`
              - `"TRANSFER_ARRIVAL_DROP_OFF"`
              - `"TRANSFER_ARRIVAL_TIME"`
              - `"TRANSFER_DEPARTURE_DATE"`
              - `"TRANSFER_DEPARTURE_PICKUP"`
              - `"TRANSFER_DEPARTURE_TIME"`
              - `"TRANSFER_PORT_ARRIVAL_TIME"`
              - `"TRANSFER_PORT_CRUISE_SHIP"`
              - `"TRANSFER_PORT_DEPARTURE_TIME"`
              - `"TRANSFER_RAIL_ARRIVAL_LINE"`
              - `"TRANSFER_RAIL_ARRIVAL_STATION"`
              - `"TRANSFER_RAIL_DEPARTURE_LINE"`
              - `"TRANSFER_RAIL_DEPARTURE_STATION"`
              - `"WEIGHT"`
              - `"FULL_NAMES_FIRST"`
              - `"FULL_NAMES_LAST"`
              - `"DISEMBARKATION_TIME"`
              - `"SPECIAL_REQUIREMENTS"`
              - `"AGEBAND"`
              - `"TRANSFER_ARRIVAL_MODE"`
              - `"TRANSFER_DEPARTURE_MODE"`
        type:
          $ref: '#/components/schemas/BookingQuestionFormatType'
        group:
          $ref: '#/components/schemas/BookingQuestionGrouping'
        label:
          type: string
          description: |
            Title of this booking question 

              - **Example**: "Traveler height in feet or centimeters"

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
        hint:
          type: string
          description: |
            Hint (tooltip) for this booking question;

              - **Example**: "E.g. 14 July 2024, 25 May 2026"

              - **Note**: This field contains natural language suitable for display to the user; content will be translated (if necessary) into the language specified in the Accept-Language header parameter
        units:
          type: array
          description: Units that may be used when answering this booking question
          items:
            type: string
            description: |
              One of: 

                - `kg`
                - `lbs`
                - `cm`
                - `ft`
                - `LOCATION_REFERENCE`
                - `FREETEXT`
        allowedAnswers:
          type: array
          description: >-
            List of allowed answers for this booking question if the answer
            represents a selection from a set of specific answers
          items:
            type: string
        required:
          type: string
          example: MANDATORY
          description: >
            Key string indicating whether an answer must be provided to this
            question if it is included in the product's description


            One of: 

              - `MANDATORY` - it is always mandatory to provide an answer to this question
              - `OPTIONAL` - it is optional to provide an answer to this question
              - `CONDITIONAL` - it is only mandatory to answer this question if it is made so by the presence of a related booking question. See [Key concepts - Booking questions](#section/Key-concepts/Booking-questions) for more information.
        maxLength:
          type: integer
          description: >-
            Maximum allowable input length for the answer, measured in
            characters (UTF-8)
    BookingQuestionsResponse:
      type: object
      description: Information about this product's booking questions
      required:
        - bookingQuestions
      properties:
        bookingQuestions:
          type: array
          description: Booking questions for this product
          items:
            $ref: '#/components/schemas/BookingQuestion'
    PaxMixItem:
      type: object
      required:
        - ageBand
        - numberOfTravelers
      properties:
        ageBand:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            Machine-interpretable value indicating the age-band that this/these
            traveler(s) fall into; one of:

              - `"ADULT"`
              - `"SENIOR"`
              - `"YOUTH"`
              - `"CHILD"`
              - `"INFANT"`
              - `"TRAVELER"`
        numberOfTravelers:
          type: integer
          description: >-
            Number of travelers/passengers in this age-band for which to request
            a booking-hold
    CheckAvailabilityRequest:
      type: object
      required:
        - productCode
        - paxMix
        - currency
        - travelDate
      properties:
        productCode:
          type: string
          pattern: '(?s).*[\S].*'
          description: >-
            Retrieve availability details for the product identified by this
            product code
        productOptionCode:
          type: string
          description: >
            Retrieve availability details for the product option (tour grade)
            identified by this product option code


            For more information see: [Key concepts: Product
            options](#section/Key-concepts/Product-options)
        startTime:
          type: string
          format: time
          description: >
            Retrieve availability details only for items that start at this
            time. If this parameter is omitted, information about **all**
            available starting times for the specified date will be included in
            the response.

            - **Example**: `"17:15"`
        travelDate:
          type: string
          format: date
          description: Retrieve availability details for items that operate on this date
        currency:
          type: string
          pattern: '(?s).*[\S].*'
          description: |
            Display pricing in the currency identified by this 3-letter code
            - **Example**: `"USD"`
        paxMix:
          type: array
          description: Passenger-mix information
          items:
            $ref: '#/components/schemas/PaxMixItem'
    RecommendedRetailPrice:
      type: number
      description: >-
        The recommended retail price for the item and the price at which the
        product is sold on the Viator.com site
    PartnerNetPrice:
      type: number
      description: >-
        The non-booking fee component of the total amount that Viator will
        invoice the merchant for this item
    PriceObjectSubtotal:
      type: object
      required:
        - recommendedRetailPrice
        - partnerNetPrice
      properties:
        recommendedRetailPrice:
          $ref: '#/components/schemas/RecommendedRetailPrice'
        partnerNetPrice:
          $ref: '#/components/schemas/PartnerNetPrice'
    LineItemPriceObjectSubtotal:
      type: object
      required:
        - price
      properties:
        price:
          $ref: '#/components/schemas/PriceObjectSubtotal'
        priceBeforeDiscount:
          $ref: '#/components/schemas/PriceObjectSubtotal'
    PricingLineItem:
      type: object
      required:
        - numberOfTravelers
        - subtotalPrice
      properties:
        ageBand:
          type: string
          description: >
            Machine-interpretable value indicating the age-band of the travelers
            that this line-item describes the subtotal price for; one of:

              - `"TRAVELER"`
              - `"ADULT"`
              - `"CHILD"`
              - `"YOUTH"`
              - `"INFANT"`
              - `"SENIOR"`
        numberOfTravelers:
          type: integer
          description: >-
            The number of travelers that this line-item describes the subtotal
            price for
        subtotalPrice:
          $ref: '#/components/schemas/LineItemPriceObjectSubtotal'
    PriceObject:
      type: object
      required:
        - recommendedRetailPrice
        - partnerNetPrice
        - bookingFee
        - partnerTotalPrice
      properties:
        recommendedRetailPrice:
          $ref: '#/components/schemas/RecommendedRetailPrice'
        partnerNetPrice:
          $ref: '#/components/schemas/PartnerNetPrice'
        bookingFee:
          type: number
          description: >-
            The booking fee component of the total amount that Viator invoices
            the merchant for this item (the rate applied is given in the
            merchant's contract with Viator)
        partnerTotalPrice:
          type: number
          description: The total amount that Viator will invoice the merchant for this item
    LineItemPriceObject:
      type: object
      required:
        - price
      properties:
        price:
          $ref: '#/components/schemas/PriceObject'
        priceBeforeDiscount:
          $ref: '#/components/schemas/PriceObject'
    CheckAvailabilityBookableItem:
      type: object
      description: Details of this bookable item
      required:
        - available
      properties:
        productOptionCode:
          type: string
          description: >
            Product option code for this bookable item


            For more information see: [Key concepts: Product
            options](#section/Key-concepts/Product-options)
        startTime:
          type: string
          description: >
            Starting time for this bookable item relative to the time zone in
            which this product operates

            - **Example**: `"09:00:00"`
        available:
          type: boolean
          description: '`true` if this item is available to be booked'
        unavailableReason:
          type: string
          description: >
            Machine-interpretable reason code indicating why this bookable item
            is unavailable (when `available` is `false`); one of:

              - `"NOT_OPERATING"` - product is not operating on this date
              - `"SOLD_OUT"` - this option is unavailable because it has sold out
              - `"PAST_BOOKING_CUTOFF"` - it is too near to the product's starting time to book this item
              - `"TRAVELER_MISMATCH"` - this item is not available for the specified passenger mix
              - `"UNKNOWN"` - the reason is unknown
        lineItems:
          type: array
          description: >-
            Components of total price, each consisting of passenger(s) from a
            single age band
          items:
            $ref: '#/components/schemas/PricingLineItem'
        totalPrice:
          $ref: '#/components/schemas/LineItemPriceObject'
    CheckAvailabilityResponse:
      type: object
      required:
        - currency
        - productCode
        - travelDate
        - bookableItems
      properties:
        currency:
          type: string
          pattern: '(?s).*[\S].*'
          description: >-
            Currency in which pricing is expressed in this response (as
            specified in the request)
        productCode:
          type: string
          pattern: '(?s).*[\S].*'
          description: >-
            Product code of the product that this availability response pertains
            to
        travelDate:
          type: string
          format: date
          description: >
            Date of travel for all bookable items returned in this response
            (relative to the time zone in which the product operates)
        bookableItems:
          type: array
          description: Bookable items for this product
          items:
            $ref: '#/components/schemas/CheckAvailabilityBookableItem'
    UnavailableDate:
      type: object
      properties:
        date:
          type: string
          format: date
          description: Date on which the product is unavailable
        reason:
          type: string
          description: >
            Machine-interpretable reason code indicating why this bookable item
            is unavailable on this date; one of:

              - `"NOT_OPERATING"` - product is not operating on this date
              - `"SOLD_OUT"` - this option is unavailable because it has sold out
    TimedEntry:
      type: object
      required:
        - startTime
      properties:
        startTime:
          type: string
          pattern: '(?s).*[\S].*'
          description: |
            Starting time for this timed entry
            - **Example**: `"09:00:00"` 
        unavailableDates:
          type: array
          description: >-
            Dates on which this timed entry is unavailable. If no unavailable
            dates exist, this array will be absent from the response.
          items:
            $ref: '#/components/schemas/UnavailableDate'
    Special:
      allOf:
        - $ref: '#/components/schemas/PriceObject'
        - type: object
          properties:
            offerStartDate:
              type: string
              format: date
              description: >
                The special offer is effective <u>for tickets purchased</u>
                **from** this date
            offerEndDate:
              type: string
              format: date
              description: >
                The special offer is effective <u>for tickets purchased</u>
                **until** this date
            travelStartDate:
              type: string
              format: date
              description: >
                The special offer is effective <u>for travel</u> **from** this
                date
            travelEndDate:
              type: string
              format: date
              description: >
                The special offer is effective <u>for travel</u> **until** this
                date
    BasicPriceWithSpecial:
      required:
        - original
      description: >
        Pricing amount information, including 'special' pricing when available.

        - **Note**: As the prices listed here may have changed by the time the
        booking request is made, **please only use the pricing amounts given in
        the responses from the [/bookings/hold](#operation/bookingsHold) and
        [/bookings/book](#operation/bookingsBook) endpoints** when charging
        customers and for invoicing purposes.
      allOf:
        - type: object
          properties:
            original:
              allOf:
                - $ref: '#/components/schemas/PriceObject'
                - description: Original price
        - type: object
          description: Price details for this item
          properties:
            special:
              allOf:
                - $ref: '#/components/schemas/Special'
                - description: Special price
    PricingDetails:
      type: object
      required:
        - price
      properties:
        pricingPackageType:
          type: string
          description: |
            Machine-interpretable value indicating the pricing type; one of: 

              - `"PER_PERSON"` - pricing is calculated per-person            
              - `"UNIT"` - pricing is calculated per-group/unit
        minTravelers:
          type: integer
          description: >-
            **Minimum** number of travelers required to book to be eligible for
            this price
        maxTravelers:
          description: >-
            **Maximum** number of travelers required to book to be eligible for
            this price
          type: integer
        ageBand:
          type: string
          description: >
            Machine-interpretable value indicating the age-band to which this
            price applies; one of:

              - `"ADULT"`
              - `"SENIOR"`
              - `"YOUTH"`            
              - `"CHILD"`
              - `"INFANT"`
              - `"TRAVELER"`
        price:
          $ref: '#/components/schemas/BasicPriceWithSpecial'
    PricingRecord:
      type: object
      properties:
        daysOfWeek:
          type: array
          description: >
            Array of machine-interpretable strings representing days of the week
            on which this pricing and availability information applies during
            the period from `startDate` to `endDate`


            Any of:
              
              - `"MONDAY"`            
              - `"TUESDAY"`              
              - `"WEDNESDAY"`              
              - `"THURSDAY"`              
              - `"FRIDAY"`              
              - `"SATURDAY"`              
              - `"SUNDAY"`
          items:
            type: string
        timedEntries:
          type: array
          description: >-
            Array of starting times and unavailability information for this
            product option code if timed entry is applicable; otherwise, this
            array will not be included in the response
          items:
            $ref: '#/components/schemas/TimedEntry'
        pricingDetails:
          type: array
          description: Pricing details for this season
          items:
            $ref: '#/components/schemas/PricingDetails'
        unavailableDates:
          type: array
          description: >-
            Dates on which this product is unavailable during the season. If no
            unavailable dates exist, this array will be absent from the
            response.
          items:
            $ref: '#/components/schemas/UnavailableDate'
    OperatingHours:
      type: object
      required:
        - opensAt
        - closesAt
      properties:
        opensAt:
          type: string
          description: 'Opening time; e.g. `"08:30"`'
          pattern: '(?s).*[\S].*'
        closesAt:
          type: string
          description: 'Closing time; e.g. `"17:30"`'
          pattern: '(?s).*[\S].*'
    DayOperatingHours:
      type: object
      required:
        - dayOfWeek
        - openTimes
      properties:
        dayOfWeek:
          type: string
          description: Day of the week that these operating hours pertain to
          enum:
            - MONDAY
            - TUESDAY
            - WEDNESDAY
            - THURSDAY
            - FRIDAY
            - SATURDAY
            - SUNDAY
        operatingHours:
          type: array
          description: Opening and closing times for this day of the week
          items:
            $ref: '#/components/schemas/OperatingHours'
    BookableItemSeason:
      type: object
      required:
        - startDate
      properties:
        startDate:
          type: string
          format: date
          description: >
            Starting date for when this pricing and availability information
            applies

            - **Example**: `"2019-01-01"`
        endDate:
          type: string
          format: date
          description: >
            Ending date for when this pricing and availability information
            applies (if this element is not returned in the response, the season
            is indefinite)

            - **Example**:`"2019-03-31"`
        pricingRecords:
          type: array
          description: Pricing records for this season
          items:
            $ref: '#/components/schemas/PricingRecord'
        operatingHours:
          type: array
          description: |
            Details about hours of operation for this season
          items:
            $ref: '#/components/schemas/DayOperatingHours'
    ProductBookableItemSchedule:
      type: object
      required:
        - seasons
      properties:
        productOptionCode:
          type: string
          description: >
            Product option code for this bookable item schedule


            For more information see: [Key concepts: Product
            options](#section/Key-concepts/Product-options)
        seasons:
          type: array
          description: >-
            Descriptions of pricing and availability information as they pertain
            to periods of time
          items:
            $ref: '#/components/schemas/BookableItemSeason'
    ProductAvailabilitySchedule:
      type: object
      required:
        - productCode
        - bookableItems
      properties:
        productCode:
          type: string
          pattern: '(?s).*[\S].*'
          description: Unique identifier for this product
        bookableItems:
          description: Bookable items for this product
          type: array
          items:
            $ref: '#/components/schemas/ProductBookableItemSchedule'
        currency:
          type: string
          pattern: '(?s).*[\S].*'
          description: >-
            Three letter currency code for all pricing information in this
            response
    BulkAvailabilityScheduleRequest:
      type: object
      required:
        - productCodes
      properties:
        productCodes:
          type: array
          maxItems: 500
          description: List of product codes for which to retrieve availability schedules
          items:
            type: string
            pattern: '(?s).*[\S].*'
    BulkAvailabilityScheduleResponse:
      type: object
      required:
        - availabilitySchedules
      properties:
        availabilitySchedules:
          type: array
          description: Array of availability schedule objects
          items:
            $ref: '#/components/schemas/ProductAvailabilitySchedule'
    AvailabilitySchedulesResponse:
      allOf:
        - $ref: '#/components/schemas/BulkAvailabilityScheduleResponse'
        - type: object
          properties:
            nextCursor:
              type: string
              description: |
                A cursor to use when fetching the next set of products.
                - **Example**: `"MTU3NDA0NDczOQ=="`
    BookingRequest:
      type: object
      required:
        - productCode
        - travelDate
        - paxMix
        - currency
      properties:
        productCode:
          type: string
          pattern: '(?s).*[\S].*'
          description: Unique identifier for the product to be booked or held
        productOptionCode:
          type: string
          description: >
            Product option (tour grade) identifier for which to request a
            booking or booking-hold


            For more information see: [Key concepts: Product
            options](#section/Key-concepts/Product-options)
        startTime:
          type: string
          description: >
            Starting time for the item in the case that the product/product
            option (tour grade) has multiple start times.


            - **Note**: This element must be included in order to hold or book
            products that have multiple starting times.
        currency:
          type: string
          pattern: '.*[\S].*'
          description: >
            Three-letter currency code for the currency in which to return
            pricing information; one of:

              - `"USD"`
              - `"GBP"`
              - `"AUD"`
              - `"EUR"`
        travelDate:
          description: >-
            Date (according to the time zone in which the product operates) for
            which to request a booking or booking-hold
          type: string
          format: date
        paxMix:
          type: array
          description: Passenger details for the booking or booking-hold
          items:
            $ref: '#/components/schemas/PaxMixItem'
    BookingHoldRequest:
      allOf:
        - $ref: '#/components/schemas/BookingRequest'
    HoldInfo:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          pattern: '(?s).*[\S].*'
          description: |
            Status of the booking hold; one of:

              - `"HOLD_NOT_PROVIDED"`
              - `"HOLDING"`
        validUntil:
          type: string
          format: date-time
          description: Timestamp (UTC) indicating when the booking hold expires
    BookingHoldInfo:
      type: object
      required:
        - availability
        - pricing
      properties:
        availability:
          $ref: '#/components/schemas/HoldInfo'
        pricing:
          $ref: '#/components/schemas/HoldInfo'
    BookingHoldResponse:
      type: object
      required:
        - bookingRef
        - bookingHoldInfo
      properties:
        bookingRef:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            **Viator-generated** booking reference for this booked item in
            format `BR-123456789` 
        bookingHoldInfo:
          $ref: '#/components/schemas/BookingHoldInfo'
        currency:
          type: string
          description: >
            Three-letter currency code for the currency in which pricing
            information is displayed; one of:

              - `"USD"`
              - `"GBP"`
              - `"AUD"`
              - `"EUR"`
        lineItems:
          type: array
          description: Array of pricing details for each traveler in this booking
          items:
            $ref: '#/components/schemas/PricingLineItem'
        totalPrice:
          $ref: '#/components/schemas/LineItemPriceObject'
    BookerInfo:
      type: object
      description: Name details for the person making this booking
      properties:
        firstName:
          type: string
          description: First name of the person making this booking
        lastName:
          type: string
          description: Surname of the person making this booking
    BookingQuestionAnswers:
      type: object
      required:
        - question
        - answer
      properties:
        question:
          type: string
          pattern: '(?s).*[\S].*'
          description: >
            Booking question identifier - `id` field in response from
            [/products/booking-questions](#operation/productsBookingQuestions)
            endpoint

            Possible values:

              - `"DATE_OF_BIRTH"`
              - `"HEIGHT"`
              - `"PASSPORT_EXPIRY"`
              - `"PASSPORT_NATIONALITY"`
              - `"PASSPORT_PASSPORT_NO"`
              - `"PICKUP_POINT"`
              - `"TRANSFER_AIR_ARRIVAL_AIRLINE"`
              - `"TRANSFER_AIR_ARRIVAL_FLIGHT_NO"`
              - `"TRANSFER_AIR_DEPARTURE_AIRLINE"`
              - `"TRANSFER_AIR_DEPARTURE_FLIGHT_NO"`
              - `"TRANSFER_ARRIVAL_DROP_OFF"`
              - `"TRANSFER_ARRIVAL_TIME"`
              - `"TRANSFER_DEPARTURE_DATE"`
              - `"TRANSFER_DEPARTURE_PICKUP"`
              - `"TRANSFER_DEPARTURE_TIME"`
              - `"TRANSFER_PORT_ARRIVAL_TIME"`
              - `"TRANSFER_PORT_CRUISE_SHIP"`
              - `"TRANSFER_PORT_DEPARTURE_TIME"`
              - `"TRANSFER_RAIL_ARRIVAL_LINE"`
              - `"TRANSFER_RAIL_ARRIVAL_STATION"`
              - `"TRANSFER_RAIL_DEPARTURE_LINE"`
              - `"TRANSFER_RAIL_DEPARTURE_STATION"`
              - `"WEIGHT"`
              - `"FULL_NAMES_FIRST"`
              - `"FULL_NAMES_LAST"`
              - `"DISEMBARKATION_TIME"`
              - `"SPECIAL_REQUIREMENTS"`
              - `"AGEBAND"`
              - `"TRANSFER_ARRIVAL_MODE"`
              - `"TRANSFER_DEPARTURE_MODE"`
        answer:
          type: string
          description: Answer to booking question
        unit:
          type: string
          description: >-
            Unit in which the answer is provided; one of `units` in response
            from
            [/products/booking-questions](#operation/productsBookingQuestions)
            endpoint
        travelerNum:
          description: >-
            Number of the traveler to which this booking question answer
            pertains
          type: integer
    CommunicationInfo:
      type: object
      required:
        - phone
      description: Details for correspondence regarding this booking
      properties:
        phone:
          type: string
          pattern: '(?s).*[\S].*'
          description: Telephone number to be used for correspondence regarding the booking
        email:
          type: string
          description: Email address to be used for correspondence regarding the booking
    VoucherDetails:
      type: object
      description: Additional details to display on voucher
      properties:
        companyName:
          description: Company name to display on voucher
          type: string
        email:
          description: Company / customer support email address to display on voucher
          type: string
        phone:
          type: string
          description: Company / customer support phone number to display on voucher
        voucherText:
          type: string
          description: >-
            Any additional custom text to display on voucher; e.g., customer
            support URL / instructions on how to access customer support
    AdditionalBookingDetails:
      type: object
      description: Optional extra details to include with booking
      properties:
        voucherDetails:
          $ref: '#/components/schemas/VoucherDetails'
    BookingBookRequest:
      allOf:
        - $ref: '#/components/schemas/BookingRequest'
        - type: object
          required:
            - bookerInfo
            - communication
            - partnerBookingRef
          properties:
            bookingRef:
              type: string
              description: Booking reference for this booking (Viator-generated)
            partnerBookingRef:
              type: string
              pattern: '(?s).*[\S].*'
              description: >
                Booking reference for this booking (generated by partner)


                **Note**: if you do not wish to generate your own partner
                booking reference, it is acceptable to use the Viator-generated
                booking reference, as per the request sample.
            languageGuide:
              allOf:
                - $ref: '#/components/schemas/LanguageGuide'
                - type: object
                  description: >
                    Specifies which language and what type of language guide to
                    include if language guides are available for this product. 


                    - **Note**: This element must be included in order to book
                    products that offer language guides.
            bookerInfo:
              $ref: '#/components/schemas/BookerInfo'
            bookingQuestionAnswers:
              type: array
              description: >
                Answers to booking questions required for this booking


                - See: [Key concepts – Booking
                questions](#section/Key-concepts/Booking-questions) for more
                information.
              items:
                $ref: '#/components/schemas/BookingQuestionAnswers'
            communication:
              $ref: '#/components/schemas/CommunicationInfo'
            additionalBookingDetails:
              $ref: '#/components/schemas/AdditionalBookingDetails'
    VoucherInfo:
      type: object
      required:
        - url
        - format
      description: Voucher information for this booking
      properties:
        url:
          type: string
          description: URL from which this voucher can be retrieved
          pattern: '(?s).*[\S].*'
        format:
          type: string
          pattern: '(?s).*[\S].*'
          description: |
            File format of the voucher; one of:

              - `"HTML"`
              - `"PDF"`
    BookingBookResponse:
      type: object
      properties:
        status:
          type: string
          description: |
            Indicates the outcome of the booking request. One of:

              - `"CONFIRMED"` - the booking has been confimed
              - `"REJECTED"` - the request was declined
              - `"CANCELED"` – the booking has been canceled
              - `"PENDING"` – the booking request has been submitted to the supplier and is awaiting their response
        rejectionReasonCode:
          type: string
          description: >
            In the case that `status` is `"REJECTED"`, this field provides a
            code as to the reason for the rejection; one of:

              - `"BOOKABLE_ITEM_IS_NO_LONGER_AVAILABLE"` – this bookable item is no longer available
              - `"WEATHER"` – this booking was rejected on account of the weather
              - `"DUPLICATE_BOOKING"` – this is a duplicate booking
              - `"PRODUCT_NO_LONGER_OPERATING"` - the product is no longer operating
              - `"MINIMUM_NUMBER_OF_PASSENGERS_NOT_MET"` – there are too few passengers for the product to operate
              - `"SIGNIFICANT_GLOBAL_EVENT_FORCE_MAJEURE"` – the booking was rejected due to a natural disaster or other large-scale catastrophe 
              - `"TOUR_WAS_CANCELLED"` - the product was cancelled
              - `"ISSUE_WITH_TICKET"` - there was an issue with the ticket
              - `"ISSUE_WITH_PICKUP"` – there was an issue with pick-up
              - `"OTHER"` - other/unlisted reason
        bookingRef:
          type: string
          description: Viator-generated booking reference number as sent in the request
        partnerBookingRef:
          type: string
          description: Partner-generated booking reference number as sent in the request
        currency:
          type: string
          description: |
            One of the available billing currencies:

              - `"USD"`
              - `"GBP"`
              - `"AUD"`
              - `"EUR"`
        lineItems:
          type: array
          description: Array of pricing details for each traveler in this booking
          items:
            $ref: '#/components/schemas/PricingLineItem'
        totalPrice:
          $ref: '#/components/schemas/LineItemPriceObject'
        cancellationPolicy:
          $ref: '#/components/schemas/CancellationPolicy'
        voucherInfo:
          $ref: '#/components/schemas/VoucherInfo'
    BookingStatusRequest:
      type: object
      properties:
        bookingRef:
          type: string
          description: Booking reference for this booking
        partnerBookingRef:
          type: string
          pattern: '(?s).*[\S].*'
    BookingStatusResponse:
      allOf:
        - $ref: '#/components/schemas/BookingBookResponse'
    CancellationReason:
      type: object
      properties:
        cancellationReasonText:
          type: string
          description: Natural-language description of this cancellation reason
        cancellationReasonCode:
          type: string
          description: Machine-interpretable identification code for this cancellation
    CancellationReasonsResponse:
      type: object
      properties:
        reasons:
          type: array
          description: >-
            Array of cancellation reason codes and their asssociated texts for
            display to the user
          items:
            $ref: '#/components/schemas/CancellationReason'
    RefundDetails:
      type: object
      description: >
        Details of the refund


        **Note**: Bookings that have not been confirmed by the supplier and have
        a status of `"PENDING"` will report an `itemPrice`, `refundAmount` and
        `refundPercentage` of `0`, as no fees are charged until the booking has
        been accepted by the supplier and its status is `"CONFIRMED"`.
      properties:
        itemPrice:
          type: number
          description: The merchant total price at the time this product was booked
        refundAmount:
          type: number
          description: >-
            Numeric currency amount that will be refunded if this booking is
            canceled now
        refundPercentage:
          type: number
          description: >-
            Percentage of the item price that will be refunded if this booking
            is canceled now
        currencyCode:
          type: string
          description: >-
            Three-letter code indicating the currency in which `itemPrice` and
            `refundAmount` are displayed
    CancellationQuoteBookingStatus:
      type: string
      description: >
        Machine-interpretable string indicating the cancellation status of this
        itinerary item:

          - `"CANCELLABLE"` - this booking is available to be cancelled
          - `"CANCELLED"` - this booking has already been cancelled
          - `"NOT_CANCELLABLE"` - this booking cannot be cancelled (because the product's start time was in the past)
    CancelBookingQuoteResponse:
      type: object
      properties:
        bookingId:
          type: string
          description: >
            Booking reference number for this booking

            - **Note**: For bookings made with v1 of this API, this code
            corresponds to `data.itemSummaries[].itemId` (in the response from
            v1's
            [/booking/book](https://docs.viator.com/partner-api/merchant/technical/#tag/Booking-services/paths/~1booking~1book/post)
            endpoint) but prepended with `BR-`. For example, if the `itemId` is
            `580669678`, this field should be `BR-580669678`.
        refundDetails:
          $ref: '#/components/schemas/RefundDetails'
        status:
          $ref: '#/components/schemas/CancellationQuoteBookingStatus'
    CancellationRequest:
      type: object
      required:
        - reasonCode
      properties:
        reasonCode:
          type: string
          description: >-
            Machine-interpretable identification code for this cancellation
            reason, retrieved from
            [/bookings/cancel-reasons](#operation/bookingsCancelReasons)
    CancellationResultItemReason:
      type: string
      description: >
        Machine-interpretable reason code indicating why the cancellation was
        not successful

          - `"ALREADY_CANCELLED"`: The booking has already been cancelled
          - `"NOT_CANCELLABLE"`: The booking cannot be canceled because the product start time was in the past


        **Note**: This field will not be present in the response if the
        cancellation was successful
    CancellationBookingStatus:
      type: string
      description: >
        Machine-interpretable string indicating the outcome of the booking
        cancellation request. One of: 

          - `"ACCEPTED"`: The cancellation was successful
          - `"DECLINED"`: The cancellation failed
    CancelBookingResponse:
      type: object
      properties:
        bookingId:
          type: string
          description: |
            Booking reference code for this booking

              - **Note**: For bookings made with v1 of this API, this code corresponds to `data.itemSummaries[].itemId` (in the response from v1's [/booking/book](https://docs.viator.com/partner-api/merchant/technical/#tag/Booking-services/paths/~1booking~1book/post) endpoint) but prepended with `BR-`. For example, if the `itemId` is `580669678`, this field should be `BR-580669678`.
        reason:
          $ref: '#/components/schemas/CancellationResultItemReason'
        status:
          $ref: '#/components/schemas/CancellationBookingStatus'
    BulkLocationReferencesRequest:
      type: object
      required:
        - locations
      properties:
        locations:
          type: array
          maxItems: 500
          description: >
            List of location reference identifiers for which to retrieve full
            location details.
          items:
[...]
